*{margin: 0;
padding: 0;
}

ul,li,a{
    list-style: none;
    text-decoration: none;

}
body{
    --color-fondo-1: #000000;
    --color-fondo-2: #a31939;
    --color-fondo-3: #FFF3E7;

    --color-circle: #EDBC9D;

    font-family: practical-serif,sans-serif;
    font-weight: 100;

}