.inicio{
    background-color: var(--color-fondo-1);
}
.inicio__container{
    display: flex;
    width: 95%;
    height: 450px;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    color: var(--color-fondo-3);
    font-size: 1.2rem;
}
.inicio__tarjeta{
    width: 40%;
}
.inicio__mainTitle{
    width: 70%;
    padding: 2rem 0 2rem 0;
    font-size: 2.5rem;
}
.inicio__parrafo{
    font-size: 1.2rem;
    padding: 0 0 2rem 0;
}
.inicio__footer{
    display: flex;
    align-items: center;
}

.inicio__list{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 60%;
    padding-left: 2rem;
}

.inicio__btn--link{
    background-color: var(--color-fondo-2);
    padding: 0.7rem;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    color: var(--color-fondo-3) ;
}

.inicio__btn--link:hover{
    background-color: #FFF3E7;
    color: #000000
}

.inicio__item{
    width: 1.5rem;
    margin-right: 1rem;
}

.inicio__img.indeed{
    width: 5rem;

}
.inicio__img.glassdoor{
    margin-top: 5px;
    width: 6rem;
    padding-left: 4rem;
}

.inicio__circle{
    position: relative;
    width: 350px;
    height: 350px;
    background-color: var(--color-circle);
    border-radius: 50%;
}
.inicio__portafolio--img{
    width: 260px;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.inicio__foto{
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .inicio__container{
        flex-direction: column;
        width: 90%;
        align-items: start;
        justify-content: start;
        height: 780px;
    }

    .inicio__circle{
        margin: 0 auto;
    }
    .inicio__mainTitle{
        width: 250%;
        font-size: 2rem;
    }

    .inicio__parrafo{
        width: 250%;
        text-align: justify;
        padding-bottom: 2rem;
    }
    .inicio__footer{
        display: none;
    }

}



