.educacion{
    background-color: var(--color-fondo-3);
    padding-bottom: 2rem;
    height: auto;
}

.educacion__mainTitle{
    color: var(--color-fondo-1);
    display: flex;
    font-size: 2.2rem;
    justify-content: start;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0 2rem 0;
}



.educacion__cards{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 1rem);
}
@keyframes saltar {
    0%,50%{
        margin-top: 4px;
    }
    50%,100%{
        margin-top: 8px;
    }

}
.card:hover{
    animation: saltar 1s  ease-in-out;
    width: 105%;
}


.card__img--container{
    height: 80%;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.card__img--unam{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
.card__img--mineria{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.card__img--oracle{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.card__title{

    color: var(--color-fondo-2);
}
.card__date{
    margin: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .educacion__cards{
       flex-direction: column;
    }
    .card{
        padding-bottom: 2rem;
    }
    .card__img--container{
        height: 200px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card__title{
        font-size: 0.8rem;
    }
    .card__date{
        font-size: 0.7rem;
    }


}

/* Large devices (laptops/desktops, 900px and up) */
@media only screen and (min-width: 900px) {
    .card__title{
        font-size: 1.2rem;

    }

}


